{% extends "layout.html" %}

{% block content %}

<div class="container interface">
<!-- 
  <div class="row"> -->

    <div class="col-lg-8 col-sm-12 col-xs-12 map">
      <div id="map-canvas"></div>
      <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map-canvas'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
      </script>
    </div> 

    <div class="col-lg-4 col-sm-12  col-xs-12 sidebar">
      <div class="row sidebar-top">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Options</h3>
          </div>
          <div class="panel-body">
            <div class="col-lg-12 sidebar-top-bar">
              <label>Hotel:
              </label>
              <br>
              <select id="dropdownMenu1">
                {% for hotel in templateHotel %}
                <option value="{{hotel.name}}">
                  {{hotel.name}}
                </option>
                {% endfor %}
              </select>
              <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-default input-sm">Add</button>
              </div>

            </div>

            <div class="col-lg-12 sidebar-top-bar">
              <label>Restaurant:
              </label>
              <br>
              <select id="dropdownMenu1">
                {% for restaurant in templateRestaurant %}
                <option value="{{restaurant.name}}">
                  {{restaurant.name}}
                </option>
                {% endfor %}
              </select>
              <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-default input-sm">Add</button>
              </div>

            </div>

             <div class="col-lg-12 sidebar-top-bar">
              <label>Activity:
              </label>
              <br>
              <select id="dropdownMenu1">
                {% for activity in templateActivity %}
                <option value="{{activity.name}}">
                  {{activity.name}}
                </option>
                {% endfor %}
              </select>
              <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-default input-sm">Add</button>
              </div>
        </div>
      
      </div>
    </div>
  </div>
      <div class="row sidebar-btm">
      <div class="panel panel-default">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Itinerary</h3>
          </div>
          <div class="panel-body">
            <label>My Hotel:</label>
              <div class="item">
                <span>Fullstack Hotel</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>
            <br>

            <label>My Restaurants:</label>
              <div class="item">
                <span>Lenwich</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>
            <br>
            <label>My Activities:</label>
              <div class="item">
                <span>Get Swoll</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>
            <br>
          </div>
        </div>

    </div>

<!-- </div> closing div row -->
</div> <!-- closing div container -->



{% endblock %}


