.navbar {
  padding: 0 40px;
  background-color: #856f58;
  border: none; }
  .navbar a {
    color: #ffffff;
    text-decoration: none; }
    .navbar a:hover {
      text-decoration: underline; }
  .navbar ul {
    list-style-type: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-inverse .navbar-brand {
  color: white; }

.navbar-inverse {
  background-color: #856f58; }
  .navbar-inverse a {
    color: #ffffff; }

.navbar-brand {
  float: left;
  font-size: 1.2em;
  margin-top: 13px; }

.navbar-right {
  float: left !important;
  margin-top: 13px; }

.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%; }

body {
  background-color: #bfb5ad; }

.interface {
  margin-top: 60px;
  background-color: #bfb5ad; }

.sidebar {
  padding-top: 0px;
  float: right;
  min-height: 100vh;
  background-color: #eeecea;
  padding-left: 20px; }

#map-canvas {
  height: 50vh; }

select label {
  color: white; }

.btn-group .btn.btn-default {
  background-color: #3b90af;
  color: white; }

.map {
  padding-top: 30px;
  background-color: gray;
  float: left;
  min-height: 100vh;
  min-width: 60vh; }

.sidebar-top {
  background-color: #eeecea;
  padding-top: 30px; }

.sidebar-btm {
  background-color: #eeecea;
  padding-bottom: 30px; }

.sidebar-top-bar {
  width: 100%; }

select {
  width: 80%; }

.panel-body {
  padding-top: 20px;
  padding-bottom: 20px; }
